<div class="news">
	{{#each news}}		 
		<div class="news__item" ng-repeat="(key,item) in news" ng-class="{active: (key === currentNews)}">
			<div class="news__inner">
				<!-- Img -->
				<div 
					style="background-image: url({{this.img}})" 
					class="news__img">
				</div>
				<div class="news__container">
					<!-- Status -->
					<div class="news__label" ng-if="!!item.label">
						<div class="news__label-text">
							{{this.label}}
						</div>
					</div>
					<!-- Title -->
					<h2 class="news__title" ng-bind-html="item.trustedTitle">
					</h2>
					<!-- Text -->
					<p class="news__text">
						{{this.text}}
					</p>
					<!-- Btn -->
					<a href="#!/{{this.link}}" class="btn btn_blue">
						{{this.link_text}}
					</a>
				</div>
			</div>
		</div>
	</div>
{{/each}}