<div 
	class="product single js-hover" 
	ng-class="{'single': this.single, 'active': isHover}"
	data-class="active" 
	ng-click="touchElement ? hoverIt(false) : ''">
	<!-- Product view -->
	<div class="product__wrapper">
		<!-- Label -->
		<div class="product__label">
			<div class="product__label-text">
				-{{this.sale}}%
			</div>
		</div>
		<div class="product__inner">
			<!-- Img -->
			<a
				href="{{this.link}}"
				style="background-size: cover; background-image: url('{{this.image}}')"
				class="product__img">
			</a>
			<!-- Cart btn -->
			<span class="product__cart-btn" ng-click="addProductToCart(product)">
				<svg class="icon icon-cart"><use xlink:href="icons/icons.svg#cart"></use></svg>
				<span class="product__cart-label">
					В корзину
				</span>
			</span>
			<div class="product__container">
				<!-- Review -->
				<div class="product__review" ng-if="this.reviews_count">
					{{!-- <input-stars
						readonly
						icon-base="icon"
						icon-empty="icon-star inactive"
						icon-hover="icon-rating-hover-star"
						icon-full="icon-star"
						list-class="product__review-list"
						max="5"
						ng-model="this.rating">
					</input-stars> --}}
					<!-- Review label -->
					<div class="product__review-label">
						<span class="product__review-count">{{this.reviews_count}}</span>
						отзыв
					</div>
				</div>
				<header class="product__header">
					<!-- Title -->
					<div class="product__title">
						<a href="{{this.link}}">{{this.title}}</a>
					</div>
					<!-- Subtitle -->
					<div class="product__subtitle">
						{{!-- <span>{{this.texture}}</span> --}}
						<!-- <a href="/{{this.category_link}}">{{this.category_title}}</a> -->
					</div>
				</header>
				<!-- Colors -->
				<div class="product__colors">
					<div class="product__colors-title">
						<span>{{this.textures.length}}</span> цветов и текстур
					</div>
					<ul 
						class="product__colors-list" 
						ng-init="this.texture_id=this.textures[0].id">
						{{#each this.textures}}
						<li 
							class="product__colors-item" 
							ng-repeat="texture in this.textures">
							<label 
								class="product__colors-label" 
								title="{{this.model}}">
								<input
									type="radio"
									name="product_texture_{{this.id}}"
									value="{{this.id}}"
									ng-model="this.texture_id">
								<div 
									class="product__colors-dot" 
									style="background-image: url('{{this.img}}')}">
								</div>
							</label>
						</li>
						{{/each}}
					</ul>
				</div>
			</div>
			<!-- Footer -->
			<footer class="product__footer">
				<!-- Price container -->
				<div class="product__price-container">
					<!-- Old price -->
					<div class="product__price-old">
						7 887 р./м<sup>2</sup>
					</div>
					<!-- New price -->
					<div class="product__price-new">
						<strong>от 7 541 р.</strong>/м<sup>2</sup>
					</div>
				</div>
				<!-- Btn -->
                <a href="{{this.link}}" class="btn btn_blue btn_size-1">
					Детали
				</a>
			</footer>
		</div>
	</div>
</div>
