<div 
	class="product single js-hover" 
	ng-mouseenter="$ctrl.hoverIt(true)" 
	ng-mouseleave="$ctrl.hoverIt(false)"
	ng-class="{'single': product.single, 'active': $ctrl.isHover}" 
	data-class="active"
	ng-click="touchElement ? $ctrl.hoverIt(false) : ''">
	<!-- Product view -->
	<div class="product__wrapper">
		<!-- Label -->
		<div class="product__label">
			<div class="product__label-text">
				-{{product.sale}}%
			</div>
		</div>
		<div class="product__inner">
			<!-- Img -->
			<a
				href="{{product.link}}"
				style="background-size: cover; background-image: url('{{product.image}}')"
				class="product__img">
			</a>
			<!-- Cart btn -->
			<span 
				class="product__cart-btn" 
				ng-click="$ctrl.addProductToCart({{toJson product}})">
				<svg class="icon icon-cart"><use xlink:href="icons/icons.svg#cart"></use></svg>
				<span class="product__cart-label">
					В корзину
				</span>
			</span>
			<div class="product__container">
				<!-- Review -->
				<div 
					class="product__review">
					<ul class="ng-isolate-scope ng-valid product__review-list">
						<li>
							<i class="icon icon-star active readonly"></i>
						</li>
						<li>
							<i class="icon icon-star active readonly"></i>
						</li>
						<li>
							<i class="icon icon-star active readonly"></i>
						</li>
						<li>
							<i class="icon icon-star inactive readonly"></i>
						</li>
						<li>
							<i class="icon icon-star inactive readonly"></i>
						</li>
					</ul>
					<!-- Review label -->
					<div class="product__review-label">
						<span class="product__review-count">{{product.reviews_count}}</span>
						отзыв
					</div>
				</div>
				<header class="product__header">
					<!-- Title -->
					<div class="product__title">
						<a href="{{product.link}}">{{product.title}}</a>
					</div>
					<!-- Subtitle -->
					<div class="product__subtitle">
						<span ng-bind="$ctrl.texture.model"></span>
					</div>
				</header>
				<!-- Colors -->
				<div class="product__colors">
					<div class="product__colors-title">
						<span>{{product.textures.length}}</span> цветов и текстур
					</div>
					<ul 
						class="product__colors-list" 
						ng-init="product.texture_id=product.textures[0].id">
						{{#each product.textures}}
						<li 
							class="product__colors-item">
							<label 
								class="product__colors-label"
								title="{{this.model}}">
								<input
									type="radio"
									name="product_texture"
									value="{{toJson this}}"
									ng-model="$ctrl.currentTexture">
								<div 
									class="product__colors-dot" 
									style="background-image: url('{{this.img}}')">
								</div>
							</label>
						</li>
						{{/each}}
					</ul>
				</div>
			</div>
			<!-- Footer -->
			<footer class="product__footer">
				<!-- Price container -->
				<div class="product__price-container">
					<!-- Old price -->
					<div class="product__price-old">
						{{product.oldPrice}} р./м<sup>2</sup>
					</div>
					<!-- New price -->
					<div class="product__price-new">
						<strong>
							<span>от</span> <span ng-bind="$ctrl.texture.price"></span> р.</strong><span>/м<sup>2</sup></span>
					</div>
				</div>
				<!-- Btn -->
                <a href="{{product.link}}" class="btn btn_blue btn_size-1">
					Детали
				</a>
			</footer>
		</div>
	</div>
</div>
